extends: eslint:recommended

env:
  browser: true
  node: true

globals:
  chrome: false
  BroadcastChannel: false

root: true

rules:
  eqeqeq: 1
  no-unused-vars: [2, {vars: all, args: none}]
  quotes: [2, double]
